{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["flowtype"],
  "globals": {
    "Promise": true,
    "describe": true,
    "expect": true,
    "test": true,
    "beforeEach": true,
    "afterEach": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": ["error", { "skipUndeclared": true }]
  }
}
